# Binarios y Temporales
*.exe
*~
*.tmp
*.log
*.zip
tesoreria_mid
main

# IDEs
.scannerwork/
.vscode/
ejec.sh

# Variables de entorno
*.env
!*template*.env
!.develop.env

# Swagger / OpenAPI
swagger/**
!swagger/*.json
!swagger/*.yml
